@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.cover-page{
    height:100vh;
    position:relative;
}

.cover-page-item{
    width:33vw;
    height:12vh;
    background: #222528;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    color:#AEB5C5;
    text-align:center ;
}

.cover-page footer{
    position: absolute;
    display: flex;
    left: 0px;
    bottom:0px;
    width:100%;
    justify-content:space-between;
}

.cover-page-item:after{
    display: block;
    position:absolute;
    background: black;
    width:45px;
    height: 45px;
    transform: rotate(45deg);
    top:-22px;
    right:-22px;
    z-index: 2;
    content: "";
}

.cover-page-item:before{
    display: block;
    position:absolute;
    background: black;
    width:45px;
    height: 45px;
    transform: rotate(45deg);
    top:-22px;
    left:-22px;
    z-index: 2;
    content: "";
}

.cover-page-item:nth-child(2){
    background-color: #FF8126;
    color: white;
    font-size:36px;
}

.social-wrapper{
    display: flex;
    justify-content: space-between;
    width:360px;
    padding-top: 5px;
}

.logo{
    width:282px;
    height:152px;
    margin-top: 40px;
}

.nav div{
    border-top:2px solid white;
    border-bottom:2px solid white;
    height:50px;
    display: flex;
    align-items: center;
    padding:12px 40px 14px 16px;
    color:white;
    position: relative;
}

.nav{
    display: flex;
    margin-top: 75px;
}

.nav div::before{
    position:absolute;
    content:"";
    width: 35px;
    height:35px;
    transform: rotate(45deg);
    border-left:2px solid white;
    border-bottom:2px solid white;
    top:6px;
    left:-17px;
}

header{
    display: flex;
    justify-content: space-around;
}

.play{
    padding-right:16px !important;
    position: relative;
    background-color:#FF8E3D;
    box-shadow: 0px 0px 50px #FF8E3D;
    z-index:2;
}

.play::after{
    position: absolute;
    content:"";
    width: 35px;
    height:35px;
    transform: rotate(45deg);
    border-right:2px solid white;
    border-top:2px solid white;
    left:80px;
    top:6px;
    background-color: #FF8E3D;
    z-index: 1;
}

.play p{
    z-index:2;
}

.play::before{
    background-color: #FF8E3D;
}

.center h2:nth-child(2){
    color:white;
}

.center h2{
    font-size:66px;
}

.center h2:nth-child(1){
    color:#FF8E3D;
}

.center{
    text-align: center;
    margin-top: 20px;
}

.down{
    text-align: center;
    font-size: 26px;
    color:white;
    width:710px;
    margin-left: 410px;
    margin-top: 150px;
}

.rus{
    color:#FF8E3D;
}

.participate{
    height: 100vh;
    background-image:url("../img/Background.svg");
    color:white;
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
}

.left{
    display: flex;
    flex-direction: column;
    margin-left: 255px;
    text-align: center;
    align-items: start;
}

.block-top h2:nth-child(1){
    font-size: 16px;
}

.block-top h2:nth-child(2){
    font-size: 90px;
}

.block-top h2:nth-child(3){
    font-size: 45px;
}
.block-top h2:nth-child(4){
    font-size:20px;
    width:400px;
}

.image img:nth-child(1){
    width: 650px;
    position: relative;
    z-index: 3;
}

.image img:nth-child(2){
    width: 700px !important;
    position: absolute;
    z-index: 4;
    top:2px;
    left:0px;
}

.image{
    position: relative;
    height:600px;
    width:690px;
}

.card-steam{
    width: 400px;
    font-size:16px;
    background-color: black;
    padding:10px 30px 10px 30px;
    margin-top: 10px;
    position: relative;
}

.card-steam::before{
    content: "";
    width:10px;
    height: 10px;
    transform: rotate(45deg);
    background:#1A1D22;
    position: absolute;
    top:-5px;
    left:-5px;
}

.first-players{
    width:400px;
    font-size:12px;
    text-align: left;
    background-color: darkgray;
    position: relative;
    padding:16px 20px 16px 20px;
    margin-top:20px;
}

.first-players::after{
    top:0px;
    right:0px;
    height:70px;
    width:70px;
    content:"";
    background-image:url("../img/card.svg");
    position: absolute;
    background-size: cover;
}

.first-players .text{
    width: 320px;
}

.button{
    background: #FF8126;
    width: 350px;
    height: 40px;
    padding-top:10px;
    margin-left: 25px;
    margin-top: 28px;
    box-shadow: 0px 0px 50px #FF8E3D;
    position: relative;
}

.button::before{
    content: "";
    position: absolute;
    background-color: #FF8126;
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
    left:-14.5px;
    top:5px;
}

.button::after{
    content: "";
    position: absolute;
    background-color: #FF8126;
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
    right:-14.5px;
    bottom:6px;
}

.about-the-game{
    height: 170vh;
    background-image: url(../img/Background\(3\).svg);
}

.advantages{
    height: 100vh;
    background-image: url(../img/Background\(2\).svg);
    display: flex;
    flex-direction: column;
}

.advantages h2:nth-child(1){
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    margin-top: 70px;
    margin-right:0px;
}

.advantages h2:nth-child(2){
    color: white;
    font-size: 50px;
}

.advantages h2:nth-child(3){
    color: white;
    font-size: 50px;
}

.bottom-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:60px;
    position: relative;
}

.bottom-text{
    display: flex;
    flex-direction: column;
}

.bottom-line h2{
    display: flex;
    justify-content: end;
    margin-right: 140px;
}

.bottom-line img{
    width:700px;
}

.bottom-line h2:nth-child(2){
    color:#FF8126;

}

.bottom-line p{
    color: white;
    width:460px;
    font-size:26px;
}

.P{
    text-align: end;
    margin-right: 140px !important;
}

.bottom-line h2 :nth-child(1){
    margin-left:-80px;
}

.bottom-line::before{
    content:"";
    position: absolute;
    background-image: url(../img/Sci-Fi.png);
    left:0px;
    top:-50px;
    width:50px;
    height:50px;
    background-size: cover;
}

.bottom-line::after{
    content:"";
    position: absolute;
    background-image: url(../img/Sci-Fi\ \(2\).svg);
    bottom:-50px;
    left:0px;
    width:318px;
    height:105px;
}

.advantages-footer{
    width:98vw;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top:90px;
}

.footer-wrapper{
    display:flex;
    height:20px;
    display: flex;
}

.about-the-game h2:nth-child(1){
    color:white;
    font-size:50px;
    text-align: center;
    margin-top: 70px;
}

.description{
    color:white;
    font-size:18px;
    width:50vw;
    text-align: center;
    margin-top: 50px;
    background-image: url(../img/Подложка.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding:50px 60px;
}

.about-the-game__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.arsenal{
    height:100vh;
    background-color: #111214;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.setka{
    background-image: url(../img/Сетка.svg);
    width:80vw;
    height:80vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.arsenal h2:nth-child(1){
    color:white;
    font-size:40px;
}

.arsenal h2:nth-child(2){
    color:#FF8126;
    font-size:40px;
}

.arsenal .text{
    width:460px;
}

.arsenal p{
    color:white;
    font-size:20px;
    margin-top: 10px;
}

.P{
    text-align: start;
}

.guns img{
    width:35vw;
}

.guns{
    background-image: url(../img/Sci-Fi\ \(3\).svg);
    width:50vw;
    height:40vh;
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
}

.guns img:nth-child(3){
    position: absolute;
    left:100px;
    top:80px;
}

.guns img:nth-child(1){
    position: absolute;
    top:-70px;
}

.guns-shadow{
    position:absolute;
    background-color: #FF8E3D;
    top:35%;
    left:50%;
    width:0px;
    height:0px;
    box-shadow: 0px 0px 150px 100px #FF8E3D;
}

.arsenal-wrapper div:nth-child(1){
    transform: rotate(-180deg);
}

.arsenal-wrapper{
    position: absolute;
    display: flex;
    height: 15px;
    bottom:30px;
    left:43%;
}

.threat{
    width:98vw;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.threat-text h2{
    font-size:40px;
}

.threat-text p{
    color:white;
    font-size: 25px;
}

.threat-text{
    width:400px;
    text-align: right;
}

.threat-text h2:nth-child(1){
    color: #FF8126;
}
.threat-text h2:nth-child(2){
    color: white;
}

.threat-img img{
    width: 600px;
    position: absolute;
}

.threat-img img:nth-child(1){
    top: 4420px;
    left: 100px;
}

.threat-img img:nth-child(2){
    top: 4270px;
    left: 150px;
}

.threat-img img:nth-child(3){
    top: 4320px;
    left: 150px;
    width:299px;
}

.threat-wrapper{
    position: absolute;
    top:4820px
}

.threat-wrapper img:nth-child(1){
    transform: rotate(-180deg);
}

.threat-wrapper img:nth-child(2){
    transform: rotate(-180deg);
}

.threat-wrapper img{
    margin-left:-5px;
}

.fractions{
    height:98vh;
    width:98vw;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.fractions-text h2{
    color:white;
    font-size:45px;
    width: 450px;
}

.fractions-text span{
    color:#FF8126;
}

.fractions-img img:nth-child(1){
    width:700px;
    margin-right: 10px;
}

.fractions-text p{
    color:white;
    width: 600px;
    font-size: 30px;
    height:200px;
}

.fractions-background img{
    width:1400px;
    position: absolute;
    margin-top: -325px;
    margin-left: 25px;
    z-index: -1;
}

.fractions-img img:nth-child(2){
    position: absolute;
    width:500px;
    left:0px;
    top:0px;
}

.fractions-img img:nth-child(3){
    position: absolute;
    width:450px;
    left:400px;
    top:0px;
}

.fractions-img{
    position: relative;
}

.fractions-img img:nth-child(4){
    position: absolute;
    width:600px;
    left:180px;
    top:-100px;
}

.fractions-wrapper{
    position: absolute;
    top:675px;
    z-index: -1;
    opacity: 0.8;
}

.fractions-wrapper img:nth-child(1){
    transform: rotate(-180deg);
}

.fractions-wrapper img:nth-child(2){
    transform: rotate(-180deg);
}

.fractions-wrapper img:nth-child(3){
    transform: rotate(-180deg);
}

.fractions-wrapper img:nth-child(4){
    transform: rotate(-180deg);
}

.fractions-wrapper img{
    margin-left:-5px;
}

.graphics{
    width:98vw;
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.graphics-image img:nth-child(1){
    width:600px;
}

.graphics-image img:nth-child(2){
    width: 200px;
    position: absolute;
    left:0px;
    top:5425px;
}

.graphics-image img:nth-child(3){
    width:600px;
    position: absolute;
    left:85px;
    top:5800px;
    z-index: -1;
}

.graphics-image img:nth-child(4){
    position: absolute;
    width:100px;
    left:535px;
    top:6020px;
}

.graphics-text{
    color:aliceblue;
    width:500px;
    text-align: right;
    margin-right: 200px;
}

.graphics-text h2{
    font-size: 50px;
}

.graphics-text p{
    margin-top: 10px;
    font-size:30px ;
}

.graphics-text span{
    color: #FF8126;
}

.graphics-wrapper{
    position: absolute;
    top:6200px;
    margin-left:580px ;
}

.graphics-wrapper img{
    transform: rotate(-180deg);
}

.dive_in{
    width:99vw;
    height: 100vh;
    background-image: url(../img/HighresScreenshot00070\ 1.svg);
    padding-top: 35vh;
    background-size: cover;
    position: relative;
}

.dive_in-text{
    color: aliceblue;
    font-size: 150px;
    text-align: center;
    z-index: 10;
}

.dive_in img{
    z-index: 20;
    position: absolute;
    bottom: -130px;
}

.dive_in-text2{
    background-color: #000000;
    width:500px;
    height:200px;
    position: absolute;
    z-index: 30;
    bottom:0px;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    border-bottom:5px solid #FF8126 ;
}

.dive_in-flex{
    width:99vw;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.dive_in-button{
    background: #FF8126;
    width: 350px;
    height: 40px;
    padding-top:10px;
    margin-left: 25px;
    margin-top: 28px;
    box-shadow: 0px 0px 50px #FF8E3D;
    position: relative;
    z-index:30;
    color:aliceblue;
    text-align: center;
    padding-right:5px;
    margin-top: 250px;
}

.dive_in-button::after{
    content: "";
    position: absolute;
    background-color: #FF8126;
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
    right:-14.5px;
    bottom:6px;
}

.dive_in-button::before{
    content: "";
    position: absolute;
    background-color: #FF8126;
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
    left:-14.5px;
    top:5px;
}